<%- A = [0x6941, 0xc181, 0x2e91, 0xe7b1, 0xc649, 0xd52c, 0xeda5, 0x94da, 0x5b32, 0x6c84, 0x6b31, 0x79ba, 0x1cd0, 0x869c, 0x8039, 0xced8] -%>
<%- W = [0x425e, 0x86ba, 0x356a, 0x8eef, 0x6b26, 0x4523, 0x9688, 0x15ae, 0x0442, 0xd462, 0x5484, 0x0044, 0x6072, 0x524d, 0x99fd, 0x9cac] -%>
<%-
  def convert_16bit_to_signed_binary(binary)
    if binary >= 2**15
      return binary - 2**16
    else
      return binary
    end
  end
-%>
// expected dot: <%=require 'matrix'; (Vector[*A.collect{|x|convert_16bit_to_signed_binary(x)}].inner_product Vector[*W.collect{|x|convert_16bit_to_signed_binary(x)}]).to_s(16)%>

module weight_test_top(input clock, input reset, output [41:0] accumulator);

    <%- (0..16-1).each do |n| -%>
    wire [15:0] activation_<%=n%>;
    wire [15:0] activation_booth_<%=n%>;
    wire [15:0] activation_signs_<%=n%>;
    assign activation_<%=n%> = 16'd<%=A[n]%>;
    wire [15:0] weight_<%=n%>;
    wire [15:0] weight_booth_<%=n%>;
    wire [15:0] weight_signs_<%=n%>;
    assign weight_<%=n%> = 16'd<%=W[n]%>;
    <%- end -%>
    
    <%- (0..16-1).each do |n| -%>
    wire [3:0] activation_position_<%=n%>;
    wire activation_sign_<%=n%>;
    wire [3:0] weight_position_<%=n%>;
    wire weight_sign_<%=n%>;
    wire valid_<%=n%>;
    wire done_<%=n%>;
    <%- end -%>
    
    laconic_pe laconic_pe_inst (
    	.clk(clock),
    	.clr(reset),
    	.ena(1'b1),
    	<%- stmt = (0..16-1).collect { |n| "activation_position_#{n}" }.join(', ') -%>
    	.t({<%=stmt%>}),
    	<%- stmt = (0..16-1).collect { |n| "activation_sign_#{n}" }.join(', ') -%>
    	.s({<%=stmt%>}),
    	<%- stmt = (0..16-1).collect { |n| "weight_position_#{n}" }.join(', ') -%>
    	.t_prime({<%=stmt%>}),
    	<%- stmt = (0..16-1).collect { |n| "weight_sign_#{n}" }.join(', ') -%>
    	.s_prime({<%=stmt%>}),
	<%- stmt = (0..16-1).collect { |n| "valid_#{n} && ~done_#{n}" }.join(', ') -%>
	.lane_ena({<%=stmt%>}),
    	.a(accumulator)
    );
    
    <%- (0..16-1).each do |n| -%>
    tc_to_booth tc_to_booth_a_<%=n%> (
        .input_num(activation_<%=n%>),
	.output_num(activation_booth_<%=n%>),
	.output_sign(activation_signs_<%=n%>)
    );
    tc_to_booth tc_to_booth_w_<%=n%> (
        .input_num(weight_<%=n%>),
	.output_num(weight_booth_<%=n%>),
	.output_sign(weight_signs_<%=n%>)
    );

    mult_operand_serializer mult_operand_serializer_inst_<%=n%> (
        .clk(clock),
    	.reset(1'b0),
    	.load(reset),
	.stall(1'b0),

	.input_num_a(activation_booth_<%=n%>),
	.input_sign_a(activation_signs_<%=n%>),
	.input_num_b(weight_booth_<%=n%>),
	.input_sign_b(weight_signs_<%=n%>),

	.position_a(activation_position_<%=n%>),
	.sign_a(activation_sign_<%=n%>),
	.position_b(weight_position_<%=n%>),
	.sign_b(weight_sign_<%=n%>),
	.valid(valid_<%=n%>),
	.rollover(),
	.done(done_<%=n%>)
    );
    <%- end -%>
endmodule

