<%- require_relative './params' -%>
<%-
-%>
// Input size: <%=@INPUT_SIZE_PWR_TWO%>
// Number of input lanes: 2^<%=@NUM_INPUTS_PWR_TWO%> (<%=@NUM_INPUTS%>)
// One-hot input size: <%=@ONEHOT_INPUT_SIZE%>
// One-hot output size: <%=@ONEHOT_OUTPUT_SIZE%>
// Histogram output size: <%=@HISTOGRAM_OUTPUT_SIZE%>
// Max histogram lshift: <%=@HISTOGRAM_MAX_SHIFT%>
// Reduction term size: <%=@REDUCTION_TERM_SIZE%>

// Maximum partial sum: <%=@PARTIAL_MAX%> (<%=@PARTIAL_BITS%> bits)
// Maximum accumulator: <%=@ACCUMULATOR_MAX%> (<%=@ACCUMULATOR_BITS%> bits)

// Concatenation tree? (otherwise naive adder): <%=@USE_CONCATENATION_TREE%>

module laconic_pe(
    input clk,
    input clr,
    input ena,
    input [<%=@NUM_INPUTS%>-1:0][<%=@INPUT_SIZE_PWR_TWO%>-1:0] t,
    input [<%=@NUM_INPUTS%>-1:0] s,
    input [<%=@NUM_INPUTS%>-1:0][<%=@INPUT_SIZE_PWR_TWO%>-1:0] t_prime,
    input [<%=@NUM_INPUTS%>-1:0] s_prime,
    input [<%=@NUM_INPUTS%>-1:0] lane_ena,
    output [<%=@ACCUMULATOR_BITS%>-1:0] a
);
    // Add the positions of the two terms t and t_prime for each pair of inputs
    wire [<%=@NUM_INPUTS%>-1:0][<%=@ONEHOT_INPUT_SIZE%>-1:0] exponent_sum;
    <%- (0..@NUM_INPUTS-1).each do |n| -%>
    assign exponent_sum[<%=n%>] = t[<%=n%>] + t_prime[<%=n%>];
    <%- end -%>
    
    // Add the signs of the two terms s and s_prime for each pair of inputs
    wire [<%=@NUM_INPUTS%>-1:0] exponent_sign;
    <%- (0..@NUM_INPUTS-1).each do |n| -%>
    assign exponent_sign[<%=n%>] = s[<%=n%>] ^ s_prime[<%=n%>];
    <%- end -%>
    
    // For each enabled lane, decode the one-hot representation of the summed position.
    wire [<%=@NUM_INPUTS%>-1:0][<%=@ONEHOT_OUTPUT_SIZE%>-1:0] onehot_decoded;
    <%- (0..@NUM_INPUTS-1).each do |n| -%>
    assign onehot_decoded[<%=n%>] = lane_ena[<%=n%>] ? (1 << exponent_sum[<%=n%>]) : <%=@ONEHOT_OUTPUT_SIZE%>'b0;
    <%- end -%>
    
    // 'Count' the one-hot signals, but +1 if XORed sign of the parent term is 0 and -1 if XORed sign is 1.
    wire [<%=@ONEHOT_OUTPUT_SIZE%>-1:0][<%=@HISTOGRAM_OUTPUT_SIZE%>-1:0] histogram;
    <%- (0..@ONEHOT_OUTPUT_SIZE-1).each do |n1| -%>
    <%- assignment = (0..@NUM_INPUTS-1).collect { |n2| "(exponent_sign[#{n2}] ? (-(#{@HISTOGRAM_OUTPUT_SIZE}'(onehot_decoded[#{n2}][#{n1}]))) : #{@HISTOGRAM_OUTPUT_SIZE}'(onehot_decoded[#{n2}][#{n1}]))" }.join(" + \n        ") -%>
    assign histogram[<%=n1%>] = <%=assignment%>;
    <%- end -%>

    // BE VERY CAREFUL WITH HOW SIGNS AND SIGN EXTENSIONS ARE HANDLED IN VERILOG!
    // http://www.sutherland-hdl.com/papers/2006-SNUG-Boston_standard_gotchas_presentation.pdf
    // slide 16
    wire signed [<%=@PARTIAL_BITS%>-1:0] pre_sum;
<%- if @USE_CONCATENATION_TREE -%>
    // Here we concatenate some terms together to make addition more efficient.
    // TODO: Document the logic and Rubylog mess
    <%-
        n_groups = @HISTOGRAM_OUTPUT_SIZE
        n_members = @ONEHOT_OUTPUT_SIZE
        (0..n_groups-1).each do |group|
            members_ordered = (0..n_members-1).select {|x| (x-group) % 6 == 0}.reverse
	    concat_group_width = members_ordered.length * n_groups
    -%>
    wire signed [<%=concat_group_width%>-1:0] concat_group_<%=group%>;
    assign concat_group_<%=group%> = {<%=members_ordered.collect{|x| "histogram[#{x}]"}.join(', ')%>};
    wire signed [<%=concat_group_width%>+<%=group%>-1:0] concat_group_shifted_<%=group%>;
    assign concat_group_shifted_<%=group%> = <%="#{concat_group_width + group}'(concat_group_#{group}) << #{group}"%>;
    <%- end -%>

    assign pre_sum = <%=(0..n_groups-1).collect { |n| "#{@PARTIAL_BITS}'(concat_group_shifted_#{n})" }.join(" + \n            ") %>;

<%- else -%>
    wire signed [<%=@ONEHOT_OUTPUT_SIZE%>-1:0][<%=@REDUCTION_TERM_SIZE%>-1:0] pre_sum_term;
    <%- (0..@ONEHOT_OUTPUT_SIZE-1).each do |n| -%>
    assign pre_sum_term[<%=n%>] = (<%=@REDUCTION_TERM_SIZE%>'(signed'(histogram[<%=n%>])) << <%=n%>);
    <%- end -%>
    assign pre_sum = <%=(0..@ONEHOT_OUTPUT_SIZE-1).collect { |n| "#{@PARTIAL_BITS}'(pre_sum_term[#{n}])" }.join(" + \n            ") %>;
<%- end -%>


    reg signed [<%=@ACCUMULATOR_BITS%>-1:0] a_int;
    assign a = a_int;
    
    always @(posedge clk) begin
        if(clr) begin
            a_int <= 0;
        end else if(ena) begin
            a_int <= a_int + <%=@ACCUMULATOR_BITS%>'(pre_sum);
        end
    end
    
endmodule
