<%- require_relative './params' -%>
<%-
-%>
// Input size: <%=@INPUT_SIZE_PWR_TWO%>
// Number of input lanes: 2^<%=@NUM_INPUTS_PWR_TWO%> (<%=@NUM_INPUTS%>)
// One-hot input size: <%=@ONEHOT_INPUT_SIZE%>
// One-hot output size: <%=@ONEHOT_OUTPUT_SIZE%>
// Histogram output size: <%=@HISTOGRAM_OUTPUT_SIZE%>
// Max histogram lshift: <%=@HISTOGRAM_MAX_SHIFT%>
// Reduction term size: <%=@REDUCTION_TERM_SIZE%>

// Maximum partial sum: <%=@PARTIAL_MAX%> (<%=@PARTIAL_BITS%> bits)
// Maximum accumulator: <%=@ACCUMULATOR_MAX%> (<%=@ACCUMULATOR_BITS%> bits)

// Concatenation tree? (otherwise naive adder): <%=@USE_CONCATENATION_TREE%>

module laconic_array(
    input clk,
    // [weight, activation]
    input [<%=@BANK_WEIGHT_LANES%>-1:0][<%=@BANK_ACTIVATION_LANES%>-1:0] clr,
    // [weight, activation]
    input [<%=@BANK_WEIGHT_LANES%>-1:0][<%=@BANK_ACTIVATION_LANES%>-1:0] ena,
    // [activation, sublane, power of 2]
    input [<%=@BANK_ACTIVATION_LANES%>-1:0][<%=@NUM_INPUTS%>-1:0][<%=@INPUT_SIZE_PWR_TWO%>-1:0] a_place,
    // [activation, sublane, sign]
    input [<%=@BANK_ACTIVATION_LANES%>-1:0][<%=@NUM_INPUTS%>-1:0] a_sign,
    // [weight, sublane, power of 2]
    input [<%=@BANK_WEIGHT_LANES%>-1:0][<%=@NUM_INPUTS%>-1:0][<%=@INPUT_SIZE_PWR_TWO%>-1:0] w_place,
    // [weight, sublane, sign]
    input [<%=@BANK_WEIGHT_LANES%>-1:0][<%=@NUM_INPUTS%>-1:0] w_sign,
    // [weight, activation, sublane]
    input [<%=@BANK_WEIGHT_LANES%>-1:0][<%=@BANK_ACTIVATION_LANES%>-1:0][<%=@NUM_INPUTS%>-1:0] lane_ena,
    // [weight, activation, activation value]
    output [<%=@BANK_WEIGHT_LANES%>-1:0][<%=@BANK_ACTIVATION_LANES%>-1:0][<%=@ACCUMULATOR_BITS%>-1:0] a
);


    <%-
        (0..@BANK_ACTIVATION_LANES-1).each do |a_i|
            (0..@BANK_WEIGHT_LANES-1).each do |w_i|
    -%>
    laconic_pe laconic_pe_<%=w_i%>_<%=a_i%> (
        .clk(clk),
        .clr(clr[<%=w_i%>][<%=a_i%>]),
        .ena(ena[<%=w_i%>][<%=a_i%>]),
    	.t(a_place[<%=a_i%>]),
    	.s(a_sign[<%=a_i%>]),
    	.t_prime(w_place[<%=w_i%>]),
    	.s_prime(w_sign[<%=w_i%>]),
	.lane_ena(lane_ena[<%=w_i%>][<%=a_i%>]),
    	.a(a[<%=w_i%>][<%=a_i%>])
    );
    <%- end end -%>
    
endmodule
